@import 'variable.scss';

.background-img
{
    background: url('/Front-end/vcam_2.jpg') center/cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 91%, 50% 91%, 0 75%);
    position: relative;

    &::before
    {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $primaire;
        opacity: 0.3;
    }

    .conteneur-text
    {
        position: absolute;
        margin-top: -50px;
        padding: 20px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

        h1
        {
            font-size: 40px;
        }

        p
        {
            line-height: 1.5;
        }

        a
        {
            padding: 10px 15px;
            background-color: white;
            color: $secondaire;
            font-weight: bold;
            border-radius: 7px;
        }
    }
}

main
{
    max-width: 1400px;
    margin: 100px auto;

    section
    {
        width: 100%;
        padding: 10px;

        .conteneur-grid
        {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 40px;

            .carte
            {
                max-height: 320px;
                border-radius: 7px;
                overflow: hidden;
                box-shadow: 2px 2px 20px 0px rgba($color: #000000, $alpha: 0.3);

                a
                {
                    color: black;
                }

                .conteneur-img
                {
                    width: 100%;
                    height: 200px;

                    img
                    {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .conteneur-texte
                {
                    padding: 10px;
                }
            }
        }
    }
}
