@import 'variable.scss';
@import 'footer.scss';
*
{
    outline: none;
}

body
{
    position: relative;
}

main
{
    min-height: 70vh;
}

footer
{
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

header
{
    height: auto;
}
main
{
    padding: 5px;
    padding-bottom: 20px;
}

// Panier
section.container
{
    max-width: 1300px;
    margin: auto;

    .container_panier
    {
        max-width: 700px;
        margin: 10px auto;
        position: relative;

        h2
        {
            padding-bottom: 20px;
            font-size: 25px;
        }

        p
        {
            font-weight: bold;
        }

        p strong
        {
            position: absolute;
            bottom: 10px;
            right: 0;
        }
        
        .carte
        {
            width: 100%;
            margin: 30px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $primaire;
            border-radius: 7px;
            padding: 10px 20px;

            .txt_center
            {
                text-align: center;
            }

            i
            {
                padding: 10px;
                cursor: pointer;

                &:hover
                {
                    color: red;
                }
            }
        }

        .btnSupprimer
        {
            background-color: transparent;
            border: 2px solid $primaire;
            padding: 10px;
            border-radius: 7px;
            cursor: pointer;

            &:hover
            {
                background-color: $primaire;
            }
        }
    }
}

/*
max-width: 1000px;
    padding: 15px;
    margin: 20px auto;

    h1
    {
        max-width: 750px;
        margin: 0 auto 35px auto;
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
    }

    .container_label
    {
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        p
        {
            width: 100px;
            text-align: center;
        }
    }

    .carte_panier
    {
        max-width: 750px;
        margin: auto;
        border: 2px solid $primaire;
        border-radius: 7px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        img
        {
            width: 100px;
            border-radius: 5px;
        }

        i
        {
            cursor: pointer;
            transition: color 150ms;
            padding: 10px;

            &:hover
            {
                color: red;
            }
        }
    }
    */

// Formulaire
section
{
    max-width: 1300px;
    margin: auto;
    padding: 15px;

    form
    {
        max-width: 700px;
        margin: auto;
        border-radius: 7px;
        border: 2px solid $primaire;
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        label
        {
            display: inline-block;
            width: 90px;
            padding-bottom: 5px;
            font-size: 16px;
        }

        input
        {
            border: 2px solid $primaire;
            padding: 10px;
            border-radius: 5px;
            width: 100%;

            &:focus
            {
                border-color: $secondaire;
            }

            &:placeholder-shown
            {
                font-size: 14px;
            }
        }

        input[type=submit]
        {
            background-color: $primaire;
            cursor: pointer;
            transition: all 150ms;
            border: none;

            &:active
            {
            
            transform: scale(0.98);
            }
        }

        .ville, .email, .adresse, .prenom, .nom
        {
            grid-column: 1 / 3;
        }
    }
}

