@import 'variable.scss';
@import 'footer.scss';
*
{
    outline: none;
}

body
{
    position: relative;
}

main
{
    min-height: 70vh;
}

footer
{
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

header
{
    height: auto;
}
main
{
    padding: 5px;
    padding-bottom: 20px;
    margin: 10px;
}

// Panier
section.container
{
    max-width: 1300px;
    margin: auto;

    .container_panier
    {
        max-width: 700px;
        margin: 10px auto;
        position: relative;

        h2
        {
            padding-bottom: 20px;
            font-size: 25px;
        }

        p strong
        {
            font-size: 16px;
            position: absolute;
            bottom: 10px;
            right: 0;
        }
        
        .carte
        {
            width: 100%;
            margin: 30px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $primaire;
            border-radius: 7px;
            padding: 10px 20px;

            p
            {
                font-weight: bold;
                font-size: 16px;
            }

            i
            {
                padding: 10px;
                cursor: pointer;

                &:hover
                {
                    color: red;
                }
            }
        }

        .btnSupprimer
        {
            background-color: transparent;
            border: 2px solid $primaire;
            padding: 10px;
            border-radius: 7px;
            cursor: pointer;

            &:hover
            {
                background-color: $primaire;
            }
        }
    }
}

/*
max-width: 1000px;
    padding: 15px;
    margin: 20px auto;

    h1
    {
        max-width: 750px;
        margin: 0 auto 35px auto;
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
    }

    .container_label
    {
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        p
        {
            width: 100px;
            text-align: center;
        }
    }

    .carte_panier
    {
        max-width: 750px;
        margin: auto;
        border: 2px solid $primaire;
        border-radius: 7px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        img
        {
            width: 100px;
            border-radius: 5px;
        }

        i
        {
            cursor: pointer;
            transition: color 150ms;
            padding: 10px;

            &:hover
            {
                color: red;
            }
        }
    }
    */

// Formulaire
.container-form
{
    max-width: 100%;
    width: 700px;
    margin: 70px auto;
    border: 2px solid $primaire;
    border-radius: 7px;
    overflow: hidden;

    .header
    {
        background-color: $primaire;
        padding: 20px 40px;
    }

    .form
    {
        padding: 30px 25px;

        .form-control
        {
            margin-bottom: 10px;
            padding-bottom: 15px;
            position: relative;

            label
            {
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input
            {
                width: 100%;
                margin-bottom: 5px;
                padding: 7px;
                border: 2px solid $primaire;
                border-radius: 5px;
                outline: none;
            }

            i
            {
                position: absolute;
                top: 32px;
                right: 10px;
                visibility: hidden;
            }

            small
            {
                visibility: hidden;
            }
        } 
        
        button
        {
            width: 100%;
            background-color: $primaire;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            outline: none;

            &:active
            {
                transform: scale(0.97);
            }
        }

        .success 
        {
            input
            {
                border-color: #2ecc71;
            }
            
            i.fa-check
            {
                visibility: visible;
                color: #2ecc71;
            }
        }

        .error
        {
            input
            {
                border-color:#e74c3c;
            }

            i.fa-exclamation-triangle
            {
                visibility: visible;
                color: #e74c3c;
            }
        }

        .error small
        {
            visibility: visible;
            color: #e74c3c;
        }
    }
}