@import 'variable.scss';
@import 'footer.scss';

header
{
    height: auto;
}

section
{
    max-width: 1300px;
    margin: 100px auto;
    padding: 10px;

    .conteneur-grid
    {
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "produit form";
        gap: 40px;

        .conteneur-produit
        {
            grid-area: "produit";
            display: flex;
            flex-direction: column;
            border-radius: 7px;
            overflow: hidden;
            box-shadow: 2px 2px 20px 0px rgba($color: #000000, $alpha: 0.3);

            .conteneur-img
            {
                width: 100%;
                height: 100%;

                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .conteneur-texte-produit
            {
                padding: 10px;
            }
        }

        .conteneur-form
        {
            width: 90%;
            padding: 10px;
            grid-area: "form";
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 45%));
            grid-template-rows: 50% 50%;
            justify-content: center;
            
            select
            {
                grid-column: 1 / 3;
                height: 35px;
            }

            form
            {
                grid-column: 1 / 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-start;
            }

            input[type=number]
            {
                height: 35px;
            }

            input[type=submit]
            {
                cursor: pointer;
                border: 2px solid $primaire;
                background-color: white;
                padding: 7px;
                border-radius: 7px;
                height: 35px;
                transition: background-color 300ms;

                &:hover
                {
                    background-color: $primaire;
                }
            }
        }  
        
        @media screen and (max-width: 700px)
        {
            grid-template-columns: 90%;
            grid-template-rows: repeat(2, minmax(200px, 1fr));
            grid-template-areas: "produit"
                                 "form";
            justify-content: center;

            .conteneur-produit, .conteneur-form
            {
                width: 100%;
            }
        }
    }
}    
